<%- include("header") -%>


<h2>This is the  about page</h2>

<p>This is a to-do list web application built by Anchal Mallick. The tech stack used includes
HTML, CSS, Javascript, NodeJS, ExpressJS and EJS.</p>

<%- include("footer") -%>
